# True for development, False for production
DEBUG=True

# Deployment SERVER address
# SERVER=.appseed.us
SERVER=localhost

# Used for CDN (in production)
# No Slash at the end
ASSETS_ROOT=/static/assets


# For MySql Persistence
DB_ENGINE=mysql
DB_NAME=arsipdb5
DB_HOST=localhost
DB_PORT=33061
DB_USERNAME=root
DB_PASS=1234

#tess