{% load static %}
  {% if customers %}
    {% for d in customers %}
    <div class="col-12 col-lg-2 mt-3">
      <div class="card border-primary mb-3">
        <button class="btn btn-primary btn-sm" hx-get="{% url 'arsip_tata_edit_customer' pk=d.pk %}" hx-target="#dialog">Edit</button>
        <div class="row no-gutters px-3 py-2">
          <div class="col-lg-12 mt-3 text-center">
            <img class="card-img border" src="{% static 'assets/icons/customer.png' %}" alt="">
          </div>
          <div class="col-sm-12 mt-3 text-center">
              <h5>{{ d.name }}</h5>
              <a href="https://wa.me/{{ d.phone_number }}" target="_new"><button class="btn btn-sm btn-success">Chat WhatsApp</button></a>
          </div>

        </div>

      </div>
    </div>
    {% endfor %}
{% endif %}
