{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
{% comment %} <form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content"> {% endcomment %}
<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content" id="item-form" enctype="multipart/form-data" action='.' method="POST" hx-encoding="multipart/form-data">

  <div class="modal-header">
    <h5 class="modal-title">{{ module }} Item</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    {% if form.non_field_errors %}
    <div class="btn btn-warning">{{ form.non_field_errors|first }}</div>
    {% endif %}
    <div class="mb-3">
        <label for="{{ form.item_number.id_for_label }}" class="form-label">Nomor Urut</label>
        {% render_field form.item_number class="form-control" placeholder="" %}
        <div class="invalid-feedback">{{ form.item_number.errors|first }}</div>
    </div>
    <div class="mb-3">  
        <label for="{{ form.title.id_for_label }}" class="form-label">Kegiatan</label>
        {% render_field form.title class="form-control" placeholder="" %}
        <div class="invalid-feedback">{{ form.title.errors|first }}</div>
    </div>  
    <div class="mb-3">  
        <label for="{{ form.copy.id_for_label }}" class="form-label">Jumlah Copy</label>
        {% render_field form.copy class="form-control" placeholder="" %}
        <div class="invalid-feedback">{{ form.copy.errors|first }}</div>
    </div>
    <div class="mb-3">  
        <label for="{{ form.original.id_for_label }}" class="form-label">Jumlah Asli</label>
        {% render_field form.original class="form-control" placeholder="" %}
        <div class="invalid-feedback">{{ form.original.errors|first }}</div>
    </div>
    <div class="mb-3">  
        <label for="{{ form.accesstype.id_for_label }}" class="form-label">Jenis Akses</label>
        {% render_field form.accesstype class="form-control" placeholder="" %}
        <div class="invalid-feedback">{{ form.accesstype.errors|first }}</div>
    </div>
    <div class="mb-3">
      <label for="{{ form.cover.id_for_label }}" class="form-label">Foto Cover Depan</label>
      {% render_field form.cover class="form-control" placeholder="" %}
      <div class="invalid-feedback">{{ form.cover.errors|first }}</div>
      <progress id='cover-upload-progress' value='0' max='100' style="height:24px;width:100%"></progress>
    </div>


    {% render_field form.yeardate type="hidden" class="form-control" placeholder="" %}

  </div>
  <div class="modal-footer">
    {% if item %}
    <button type="button" class="btn btn-danger" hx-delete="{% url 'arsip_tata_remove_item' pk=item.id %}" hx-confirm="Hapus Item?">Remove</button>
    <span class="flex-grow-1"></span>
    {% endif %}
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Cancel
    </button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
<script>
  htmx.on('#item-form', 'htmx:xhr:progress', function(evt) {
    htmx.find('#cover-upload-progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
  });

</script>

{% endwith %}
