{% load static %}
{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Info Dokumen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="card border-primary mb-3">
        <div class="row no-gutters px-3 py-2">
          <div class="col-sm-12 mt-3 text-left">
              <h5>Tahun Penataan: {{ data.yeardate }}</h5>
              <h5>Nomor Box: {{ data.bundle.box.box_number }}</h5>
              <h5>Nomor Berkas: {{ data.bundle.bundle_number }}</h5>
              <h5>Nomor Item: {{ data.item_number }}</h5>
              <h5>Tahun Penciptaan: {{ data.bundle.year_bundle }}</h5>
              <h5>Uraian: {{ data.title }} {{ data.bundle.description }}</h5>
          </div>

        </div>

    </div>
</div>
{% endwith %}
