{% extends "layouts/base_anonymous.html" %} {% load static %}
{% block title %} | Form Pengiriman Dokumen {% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid px-4">
  <h3 class="text-center">Form Pengiriman Dokumen</h3>

  <form action="" method="POST">
    <div class="row border">  
        {% csrf_token %}
        <div class="col-md-3"></div>
        <div class="col-md-6">
        {% for field in form %}
            <div class="col-md-12 p-2">{{field|as_crispy_field}}</div>
        {%endfor%}
        {% comment %} {{form|crispy}} {% endcomment %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
          </div>
          <div class="col-md-6">
            <a href="{% url 'arsip_tata_package_download_letter' %}" target="_new"><button type="button" class="btn btn-warning mt-2" style="float: right;">Maklumat</button></a>
          </div>
          

        </div>
        
        <div class="col-md-3"></div>

    </div>  
  </form>
  

{% endblock %}