{% load static %}
{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Form Detail Pengembalian</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="card border-primary mb-3">
        <div class="row no-gutters px-3 py-2">
          <div class="col-sm-12 mt-3 text-left">
              <h5>Kode Peminjaman: {{ trans.codetrans }}</h5>
              <h5>Tanggal Pinjam: {{ trans.date_trans|date:"d M Y" }}</h5>
              <h5>Nama Peminjam: {{ trans.customer.name }}</h5>
          </div>

        </div>

    </div>
    <div class="row" hx-trigger="load, transretDetailListChanged from:body" hx-get="{% url 'arsip_tata_transret_detail_list' trans.id %}" hx-target="this">
        <span class="visually-hidden">Loading...</span>
    </div>
    <!-- Placeholder for the modal -->
    <div id="modal" class="modal fade">
        <div id="dialog" class="modal-dialog" hx-target="this"></div>
      </div>
  
      <!-- Empty toast to show the message -->
      <div class="toast-container position-fixed top-0 end-0 p-3">
        <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div id="toast-body" class="toast-body"></div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
      </div>

</div>
{% endwith %}


