{% extends 'layouts/base.html' %} {% load static %} 
{% block title %} | Statistik Data Inaktif {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="{% static 'assets/vendors/coreui/chartjs/css/coreui-chartjs.css' %}" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
<div class="container-fluid">

<div class="row">
  {% comment %} <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Rekap Dokumen Scan</h5>
        <canvas id="chartscan" width="400" height="200"></canvas>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6"></div>
  <p></p> {% endcomment %}

  <div class="col-12 col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Rekap Jumlah Entry pada 30 Hari Terakhir</h5>
        <canvas id="chartentrydays" width="400" height="200"></canvas>
      </div>
    </div>
  </div>

  <p></p>
  <div class="col-12 col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Rekap Jumlah Halaman Scan pada 30 Hari Terakhir</h5>
        <canvas id="chartscandays" width="400" height="200"></canvas>
      </div>
    </div>
  </div>

</div>  
{% endblock %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>

  <script src="{% static 'assets/vendors/coreui/chartjs/js/coreui-chartjs.js' %}"></script>
  <script>
    // jquery function
        {% comment %} var ctx = document.getElementById('chartscan').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ["Sudah Scan =" + {{ uploaded }}, "Belum Scan =" + {{ notuploaded }}], //loop through queryset,
                datasets: [{
                    label: '',
                    data: [{{ procuploaded }}, {{ procnotuploaded }}],
                    backgroundColor: {{ colorlist|safe }},
                    borderColor:{{ colorlist|safe }},
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                legend: {
                    display: true
                }
            }
        }); {% endcomment %}
        var ctx = document.getElementById('chartscandays').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ docdate|safe }}, //loop through queryset,
                datasets: [{
                    label: '',
                    data: {{ docscan|safe }},
                    backgroundColor: {{ doccolor|safe }},
                    borderColor:{{ doccolor|safe }},
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        id: 'A',
                        type: 'linear',
                        position: 'left',
                        ticks: {
                            max: {{ docscanmax }},
                            min: 0
                        }
                      }]
                },
                legend: {
                    display: false
                }
            }
        });

        var ctx = document.getElementById('chartentrydays').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ docentrydate|safe }}, //loop through queryset,
                datasets: [{
                    label: '',
                    data: {{ docentry|safe }},
                    backgroundColor: {{ docentrycolor|safe }},
                    borderColor:{{ docentrycolor|safe }},
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        id: 'A',
                        type: 'linear',
                        position: 'left',
                        ticks: {
                            max: {{ docentrymax }},
                            min: 0
                        }
                      }]
                },
                legend: {
                    display: false
                }
            }
        });


        </script>
    
{% endblock javascripts %}

