{% extends 'layouts/base.html' %} {% load static %} 
{% block title %} | Statistik Data Inaktif {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="{% static 'assets/vendors/coreui/chartjs/css/coreui-chartjs.css' %}" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
<div class="container-fluid">

<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Rekap Entry Arsip</h5>
        <canvas id="chartentry" width="400" height="200"></canvas>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Rekap Upload Arsip</h5>
        <canvas id="chartupload" width="400" height="200"></canvas>
      </div>
    </div>
  </div>

</div>  
{% endblock %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>

  <script src="{% static 'assets/vendors/coreui/chartjs/js/coreui-chartjs.js' %}"></script>
  <script>
    // jquery function
            var ctx = document.getElementById('chartentry').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: {{ userlist|safe }}, //loop through queryset,
                    datasets: [{
                        label: '',
                        data: {{ countlist|safe }},
                        backgroundColor: {{ colorlist|safe }},
                        borderColor:{{ colorlist|safe }},
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            id: 'A',
                            type: 'linear',
                            position: 'left',
                            ticks: {
                                max: {{ maxcount|safe }},
                                min: 0
                            }
                          }]
                      },
                    legend: {
                        display: false
                    }
                }
            });
            var ctx = document.getElementById('chartupload').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: {{ userlist_upload|safe }}, //loop through queryset,
                    datasets: [{
                        label: '',
                        data: {{ countlist_upload|safe }},
                        backgroundColor: {{ colorlist_upload|safe }},
                        borderColor:{{ colorlist_upload|safe }},
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            id: 'A',
                            type: 'linear',
                            position: 'left',
                            ticks: {
                                max: {{ maxcount_upload|safe }},
                                min: 0
                            }
                          }]
                      },
                    legend: {
                        display: false
                    }
                }
            });

        </script>
    
{% endblock javascripts %}

