{% load static %}
  {% if years %}
    {% for d in years %}
    <div class="col-12 col-lg-2 mt-3">
      <div class="card border-primary mb-3">
        <button class="btn btn-primary btn-sm" hx-get="{% url 'arsip_tata_edit_year' pk=d.pk %}" hx-target="#dialog">Edit</button>
        <div class="row no-gutters px-3 py-2">
          <div class="col-lg-6 mt-3 text-center">
            <a href="{% url 'arsip_tata_show_boxes' d.yeardate %}"><img class="card-img border" src="{% static 'assets/icons/year.png' %}" alt=""></a>
          </div>
          <div class="col-lg-6 mt-3 text-center">
            <a href="{% url 'arsip_tata_stat_entry' d.yeardate %}"><img class="card-img border" src="{% static 'assets/icons/customer.png' %}" alt=""></a>
          </div>

          <div class="col-sm-12 mt-3 text-center">
              <h5>{{ d.yeardate }}</h5>
          </div>
        </div>
        <div class="col-lg-12">
          <a href="{% url 'arsip_tata_report' d.yeardate %}"><button class="w-100 btn btn-sm btn-primary">Report</button></a>
        </div>

      </div>
    </div>
    {% endfor %}
{% endif %}
