{% extends "layouts/base.html" %} {% load static %} 
{% block title %} | Hapus PDF Data Inaktif {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
    <div class="col-lg-3 col-md-8 col-sm-12">
        <h2 class="text-center">{{"Hapus File"|title}} PDF Inaktif</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-primary">Submit..</button>
        </form>
    </div>
</div>
</div>

{% endblock %}