{% extends "layouts/base.html" %} {% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    {% comment %} <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="process", value="movepdf">
        <div class="row no-gutters border">
        <div class="col-md-10">
            <p>Pindah file PDF inaktif ke Drive Utama</p>
        </div>
        <div class="col-md-2">
                <button type="submit" class="btn btn-primary" onclick="return confirm('Jalankan Fungsi?')">Run..</button>

        </div>    
    </div>
</form> {% endcomment %}
<form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="process", value="gencover">
        <div class="row no-gutters border">
            <div class="col-md-5">
                Buat Cover PDF
            </div>
            <div class="col-md-5">
                <label class="form-check-label">
                    <input type="checkbox" name="isreplace" class="form-check-input" value="yes">&nbsp;Tindih File Lama
                </label>
             </div>
   
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary float-right" onclick="return confirm('Jalankan Fungsi?')">Run..</button>
            </div>
        </div>
    </form>            

{% endblock %}