{% extends "layouts/base.html" %} {% load static %}
{% block title %} | Data Vital {% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
  <h3 class="text-center">Data Vital</h3>
    <div class="row  justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12 border">  
      <form action="" method="get">
        {{form|crispy}}
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </form>
    </div>
    </div>  
  </div>
  {% if data %}
  <br>
<h3 class="text-left mx-2">{{ folder|title }}</h3>
    
  {% comment %} <div class="row mx-2">
      {% for d in data %}
      <div class="col-12 col-lg-3 mt-3">
          {% if d.pdffound %}
          <div class="card">
              <div class="row no-gutters">
                  <div class="col-12 mt-3 mx-2">
                    <h5 class="card-title">Box Nomor: {{d.box_number}}</h5>
                  </div>    
                  <div class="col-sm-5 mt-3">
                      <div class="card-body">
                      <a href="{% static d.coverfilepath %}" target="_new"><img class="card-img border" src="{% static d.coverfilepath %}" alt=""></a>
                  </div>
                  </div>
                  <div class="col-sm-7 mt-3 text-center">
                          <p><small>No. Berkas: {{d.bundle_number}}<br>No. Urut: {{d.doc_number}}<br>Tahun: {{d.bundle_year}}<br>Ukuran: {{d.filesize}} kb<br>Jml Hlmn: {{d.pagecount}}<br>
                          </small> </p>
                  </div>
                  <div class="col-sm-12">
                      <div class="card-body">
                        
                        <h5 class="card-title">{{d.doc_description}}</h5>
                          <p class="card-text font-italic"><small>{{d.bundle_title}}</small></p>
                      </div>
                  </div>
                  <div class="col-sm-12 mt-2">
                      <a href="{% url 'alihmedia_inactive_pdfdownload' d.doc_uuid_id %}" target="_new" class="btn btn-info btn-block mb-2 w-100">Download</a>
                  </div>
  
              </div>
          </div>
          {% else %}
          <div class="card bg-secondary">
              <div class="row no-gutters">
                  <div class="col-sm-12">
                      <div class="card-body">
                          <h5 class="card-title">Box Nomor: {{d.box_number}}</h5>
                          <h5 class="card-title">{{d.doc_description}}</h5>
                          <p class="card-text"><small>{{d.bundle_title}}
                              <br>No. Berkas: {{d.bundle_number}}<br>No. Urut: {{d.doc_number}}<br>Tahun: {{d.bundle_year}}
                          </small> </p>
                      </div>
                  </div>
              </div>
          </div>
          {% endif %}
      </div>
      {% endfor %}
  </div>
</div> {% endcomment %}
{% endif %}  

{% endblock %}