{% extends "layouts/base.html" %} {% load static %}
{% load crispy_forms_tags %}

{% block title %} | Data Inaktif {% endblock %}
{% block stylesheets %}
    <link href="{% static 'assets/vendors/coreui/icons/css/free.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <style>
      div.hoverbackground:hover{
        opacity: 0.7;
        background-color: #FF9800!important;
      }
    
      {% comment %} body {
        padding-top: 3rem;
        padding-bottom: 3rem;
        color: #5a5a5a;
      } {% endcomment %}
    
    </style>
    <link rel="stylesheet" href=
    "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid">
  <h3 class="text-center">Data {{ depname }}</h3>
  {% if data %}
    
  <div class="row">
       {% for d in data %}
      <div class="col-12 col-lg-3 mt-3">
        <div class="card">
          <div class="row no-gutters px-3 py-2">
              <div class="col-sm-6 mt-3 text-center">
                      <p><small><a href="{% url 'fm_pjpa_subfolder' d.id %}">{{ d.name }}</a></small> </p>
              </div>

              <div class="col-sm-6 my-1">
                  {% comment %} <a href="{% url 'arsip_inaktif_pdfdownload' d.doc_uuid_id %}" target="_new" class="btn btn-info btn-block btn-sm">Download</a> {% endcomment %}
              </div>
              <div class="col-sm-6 my-1">
                  {% comment %} <a href="{% url 'arsip_inaktif_pdfremove' d.doc_uuid_id %}" class="btn btn-danger btn-block btn-sm">Hapus PDF</a> {% endcomment %}
              </div>
  
          </div>
      </div>
    </div>
      {% endfor %}
</div>
{% endif %}
{% endblock content %}